h1{
    text-align: justify;
    text-decoration: none;
    text-indent: 20px;
    color: red;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
p{
    text-transform: uppercase;
    text-transform: capitalize;
    text-rendering: 20px;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-shadow: 1px 1px 2px royalblue;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
    text-indent: 20px;

}