*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
#navbar{
    position:fixed;
    top: 0;
    background-color: black;
    height: 100px;
    width: 100%;

    
}
#para{
    margin-top: 100px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 150px;
    /* position: absolute; */
    
}

#circle{
    width: 5vw;
    height: 5vw;
    background-color: orange;
    border-radius: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;

}
html,body{
    scroll-behavior: smooth;
}
