*{
    margin-top:0px;
    padding: 0%;
    box-sizing: border-box;

}

header{
    width: 100%;
    height: 150px;
    background-color: orange;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 100%;
    height: 150px;
    background-color: royalblue;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
}

#section1{
    width: 100%;
    height: 300px;
    background-color:burlywood;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section2{
    width: 100%;
    height: 300px;
    background-color:blueviolet;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

article{
    width: 100%;
    height: 300px;
    background-color:aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
     width:100%;
    height: 300px;
    background-color:black;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}