body{
    background-color: orange;
}
h1{
    /* background-color: red;
    background-color: rgb(116,248,222);
    background-color: rgba(14,255,94,0.472);
    background-color: #143143;
    background-color: #ff0000; */
    /* background-color: #39efff72; */

    background-color: #143143;
} 