span{
    font-size: 50px;
}
#grandparent{
    width: 100%;
    height: 750px;
    background-color: red;
    
}
#parent,#babai{
   width: 50%;
   height:100%;
   background-color: olive;
   float: left;
}
#babai{
    background-color: green;
}
#sib1,#you,#sib2,#cous1,#cous2,#cous3{
    height: 80%;
    width: 33%;
    background-color: aqua;
    float: left;
}
#you{
    background-color: pink;
}
#sib2{
    background-color: cyan;
}
#cous1{
    background-color: brown;

}
#cous2{
      background-color: tomato;
}
#cous3{
      background-color:red;
}

/*Descendent selector */
#grandparent>#babai>#cous1{
    background-color: lawngreen;
}
#parent>#sib1{
    background-color: blueviolet;
}
#grandparent>#babai>#cous3{
    background-color: darkgreen;
}
#parent+#babai{
    background-color: lawngreen;
}
#cous1+#cous2{
    background-color:blue
}
#sib1+#you{
    background-color: grey
}

#sib1~#sib2{
    background-color: crimson;
}
#cous1~#cous3{
    background-color: black;
}