/* #container{
    width: 400px;
    height: 400px;
    background-image: url(../../assert/IMAGE/Family/Family_photo.jpeg);
    background-size: 20% 20%;
    background-repeat: repeat-y;
    background-repeat: repeat;  
}  */
 body{
    /* width: 100%;
    height: 100vh;
    background-image: url(../../assert/IMAGE/RCB.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -80px 400px;
     */

body{
    /* width: 100%;
    height: 100vh;
    background-color: cornsilk;
    background-image: url(../../Asset/IMAGE/pexels-todd-trapani-488382-1420440.jpg);
    background-size: 40% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: -50px 400px; */

    width: 100%;
    height: 800vh;
    background-image: url(../../assert/IMAGE/sun.png),url(../../assert/IMAGE/earth.png),url(../../assert/IMAGE/star.jpg);
    background-size: 50%,20%,100% 100%;
    background-position:-200PX -200PX,center left, center;
    background-attachment: fixed,scroll,scroll;
    background-repeat:no-repeat ;
    
}

img{
    width: 120px;
}

marquee{
    width: 200px;
    float: right;
    height:100%;
}
